@import url("reset.css");

.background {
    /*just in case */
    
    background: #2C2C2C;
    background-repeat: no-repeat;
    /* custom background-position */
    
    background-position: 50% 50%;
    /* ie8- graceful degradation */
    
    background-position: 50% 50%\9 !important;
}
html,
body {
    /* give this to all tags from html to .fullscreen */
    
    height: 100%;
    background: #282828;
    font-family: 'Open Sans', bold;
    font-weight: 700;
}
.fullscreen,
.content-a {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.fullscreen.overflow,
.fullscreen.overflow .content-a {
    height: auto;
    min-height: 100%;
}

/* NAV */

.nav-container {
    margin-left: 1%;
}
.navbar {
    background: #21273B;
    color: #fff;
    font-family: 'Ruda', sans-serif;
    font-weight: 800;
    /*font-size: 1em;*/
    
    font-variant: small-caps;
}
.navbar-brand {
    font-family: 'Nobile', bold, sans-serif;
    color: #fff;
    font-weight: 700;
    letter-spacing: .1em;
    font-variant: normal;
    font-size: 1.4em;
}
.navbar-header {
    font-weight: 600;
    /*font-size: 1em;*/
    
    margin-left: 10px;
}
.navbar .nav > li > a {
    color: #fff;
    font-size: 1.2em;
    font-weight: 400;
}
.dropdown {
    color: #fff;
}
.dropdown-menu {
    color: #fff;
    font-size: 1.1em;
    background: #034879;
}
.navbar-right {
    margin-right: 1%;
}


.body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
    color:#2C2C2C;
}

.wide 
{
  background: #2C2C2C;
  width: 150px;
  float: left;
  color: white;
}
.left-panel {
  color: red;
}
.wide-right-panel {
  color: yellow;
  height: auto;
  margin-right: 1%;
  
}
/*page sections */

.welcome-text {
    margin-top: 20px;
    margin-bottom: 120px;
    font-family: 'Cherry Cream Soda', sans-serif;
    padding-left: 3.9em;
    padding-right: 3.9em;
    font-size: 2.9em;
}
.body-text {
    margin-top: 100px;
    margin-bottom: 100px;
    padding-left: 1.9em;
    padding-right: 1.9em;
}
.contact-text {
    margin-top: 100px;
    margin-bottom: 100px;
    padding-left: 3.9em;
    padding-right: 3.9em;
}
.footer {
  left: 50%;
  bottom: 20px;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  font-size: .5em;
}
.about-us {
    margin-top: 100px;
    margin-bottom: 250px;
    padding-left: 2.9em;
    padding-right: 2.9em;
}
.about-us-updated {
    margin-top: 100px;
    margin-bottom: 200px;
    font-size: .8em;
    font-family: 'Cherry Cream Soda', bold, sans-serif;
    font-variant: small-caps;
}
.copyright {
    margin-top: 100px;
    margin-bottom: 200px;
}
.sitemap {
    margin-top: 100px;
    margin-bottom: 200px;
}
.intro-text {
    padding-left: 4.1em;
    padding-right: 4.1em;
    font-size: 1.3em;
    font-family: 'Days One', sans-serif;
    font-weight: 400;
}
/* content centering styles */

.content-a {
    display: table;
}
.content-b {
    display: table-cell;
    position: relative;
    vertical-align: middle;
    text-align: center;
    padding-top: 2em;
}
/* visual styles */

body {
    margin: 0;
    font-family: sans-serif;
    font-size: 2em;
    line-height: 100px;
    color: #ffffff;
    text-align: center;
}
/*/ Temporary */

p {
    line-height: 1.3em;
}
h1 {
    font-size: 2.5em;
}
h2 {
    font-size: 1.6em;
}
section {
    background: #1D2D38;
}
.not-fullscreen {
    height: 50%;
}
